{{ form_start(form) }}

    {{ form_label(form.title, null, {'attr': {'class': 'sr-only'}}) }}
    {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.title) }}

    {{ form_label(form.release_date, null, {'attr': {'class': 'sr-only'}}) }}
    {{ form_widget(form.release_date, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.release_date) }}

    {{ form_label(form.rating, null, {'attr': {'class': 'sr-only'}}) }}
    {{ form_widget(form.rating, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.rating) }}

    {{ form_label(form.genre, null, {'attr': {'class': 'sr-only'}}) }}
    {{ form_widget(form.genre, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.genre) }}

    {{ form_label(form.author, null, {'attr': {'class': 'sr-only'}}) }}
    {{ form_widget(form.author, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.author) }}

<div style="margin-top: 15px;">
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
