<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>

    {% endblock %}
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Library</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('home') }}">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('author_index') }}">Authors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('genre_index') }}">Genres</a>
                </li>
            </ul>

            <ul class="navbar-nav my-2 my-lg-0">
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link">{{ app.user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="jumbotron">
        <h1 class="display-4">Library</h1>
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger mt-3 mb-0" role="alert">
                {{ message }}
            </div>
        {% endfor %}

    </div>
</div>
<div class="container">
    {% block body %}{% endblock %}
</div>
{% block javascripts %}
    <script src="//code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>
