{% extends "base.html.twig" %}
{% block body %}
    <div class="col">
        <div style="margin-bottom: 20px;">
            <a href="{{ path('book_new') }}" class="btn btn-info">Add book</a>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Release date</th>
                <th>Rating</th>
                <th>Genre</th>
                <th>Author</th>
                <th>Created At</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for book in books %}
                <tr>
                    <td>#{{ book.id }}</td>
                    <td>{{ book.title }}</td>
                    <td>{{ book.releaseDate | date('d.m.Y') }}</td>
                    <td>{{ book.rating }}</td>
                    <td>{{ book.genre.title }}</td>
                    <td>{{ book.author.name }}</td>
                    <td>{{ book.createdAt | date('d.m.Y H:i') }}</td>
                    <td>
                        <a href="{{ path('book_show', {'id': book.id}) }}">show</a>
                        <a href="{{ path('book_edit', {'id': book.id}) }}">edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(books) }}
        </div>
    </div>
{% endblock %}